#chat {
  text-align: left;
  background: #f1f1f1;
  width: 500px;
  min-height: 300px;
  padding: 20px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#swapText{
  display: flex;
}

.alignTextCenter{
  text-align: center;
}